<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cowin</title>
    <script
      src="https://kit.fontawesome.com/7c57d16c65.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2>Cowin slot tracker & Notifier</h2>
    <form action="/" method="POST">
        <div class="form-element"></div>
    </form>
  </body>
</html>
